.adarender {
    width: 730px;
    margin:0 auto;
}
.adarender p img {
    display: block;
    margin:0 auto;
    max-width: 400px;
}
.adarender table {
    width: 100%;
}
.SortDescCss {
    background-image: url(../img/Desc.gif);
    background-repeat: no-repeat;
    background-position: right center;
}

.SortAscCss {
    background-image: url(../img/Asc.gif);
    background-repeat: no-repeat;
    background-position: right center;
}