 <table>
     <thead>
         <tr>
            {{#each namedata}}
                <th>{{this}}</th>
            {{/each}}
        </tr>
     </thead>
     <tbody>
         <tr>
            {{#each valdata}}
              <td>{{this}}</td>
            {{/each}}
        </tr>
     </tbody>
 </table> 