@media screen and (min-width: 1029px) {
  .adarender {
    width: 960px;
    margin: 0 auto;
    font-size: 16px;
  }
  .adarender h1 {
    font-size: 32px;
  }
  .adarender h2,
  .adarender h3,
  .adarender h4,
  .adarender h5,
  .adarender h6 {
    font-size: 20px;
  }
  .adarender p {
    font-size: 16px;
  }
  p.caption {
    font-size: 14px;
    color: #333 !important;
    text-align: center;
  }
}
@media screen and (max-width: 1024px) {
  .adarender {
    max-width: 640px;
    margin: 0 auto;
    font-size: 24px;
  }
  .adarender h1 {
    font-size: 32px;
  }
  .adarender h2,
  .adarender h3,
  .adarender h4,
  .adarender h5,
  .adarender h6 {
    font-size: 28px;
  }
  .adarender p {
    font-size: 24px;
  }
  p.caption {
    font-size: 20px;
    color: #333 !important;
    text-align: center;
  }
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC',
    'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.adarender .icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.adarender table {
  border-collapse: collapse;
  border-spacing: 0;
}
.adarender table {
  display: block;
  overflow: auto;
  width: 100%;
}
.adarender table th {
  font-weight: 600;
}
.adarender table td,
.adarender table th {
  /* border: 1px solid #dfe2e5; */
  padding: 16px 16px;
  border-bottom: 1px solid #e8e8e8;
  /* background: #fafafa; */
}
.adarender table tr {
  background-color: #fff;
  /* border-top: 1px solid #c6cbd1; */
}
.adarender table tr:hover td {
  background-color: #e6f7ff !important;
}
.adarender table tr th {
  /* border: 1px solid #dfe2e5; */
  /* padding: 16px 16px; */
  /* border-bottom: 1px solid #e8e8e8; */
  border-bottom: 1px solid #c6cbd1;
  background: #f8f8f8;
}
.adarender table tr:nth-child(2n) {
  background-color: #fafafa;
}
.adarender p img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
}
div.center {
  text-align: center;
}
.adarender table {
  width: 100%;
  text-align: left;
}
.adarender table.centertable {
  margin: auto;
  width: auto;
  display: table;
}
.adarender code {
  margin: 0 1px;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  background: #f2f4f5;
  border: 1px solid #eee;
  border-radius: 3px;
}
.adarender pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}
/* commodity start */
.item-wrap {
  width: 100%;
  text-align: center;
}
.item-wrap .item {
  display: inline-block;
  width: 180px;
  height: 320px;
  margin-right: 20px;
}
.item-wrap .item .pic {
  width: 180px;
  height: 180px;
}
.item-wrap .item .ctx {
  display: block;
  font-size: 12px;
}
.item-wrap .item .ctx .title {
  text-align: left;
}
.item-wrap .item .ctx .shop {
  color: #888;
  text-align: left;
}
.item-wrap .item .ctx .shop > span:nth-child(1) {
  float: left;
}
.item-wrap .item .ctx .shop > span:nth-child(2) {
  float: right;
}
.item-wrap .item .ctx .price {
  display: block;
  margin-top: 11px;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
}
.item-wrap .item .ctx .price .g-price-highlight {
  float: left;
  font-size: 18px;
  line-height: 22px;
}
.item-wrap .item .ctx .price .g-price-highlight > span:nth-child(1) {
  float: left;
}
.H {
  color: #f40;
}
.item-wrap .item .ctx .deal-cnt {
  float: right;
  color: #888;
}
.item-wrap .item .ctx .posttage {
  background-color: #f40;
  color: #fff;
  font-size: 12px;
}
.item-wrap .item .ctx .feature {
  font-size: 12px;
}
.item-wrap .item .ctx .feature .hot {
  background-color: #f40;
  color: #fff;
  margin-left: 3px;
}
.item-wrap .item .ctx .feature > span:nth-child(1) {
  float: left;
}
.item-wrap .item .ctx .feature > span:nth-child(2) {
  float: right;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* commodity end */
