.adarender {
    width: 960px;
    margin:0 auto;
}
.adarender p img {
    display: block;
    margin:0 auto;
    max-width: 80%;
}
.adarender table {
    width: 100%;
}
.markdown-body table .ant-table-body td, .markdown-body table .ant-table-head th {
    border:0;
}
.markdown-body table tr {
    border-top:0;
}
.ant-table-head>tr>th,.ant-table-body>tr>td {
    padding:16px 16px;
}
.markdown-body table .ant-table-head>tr>th {
    color: rgba(0,0,0,0.85);
    font-weight: 500;
    text-align: left;
    background-color: #fafafa;
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.markdown-body table .ant-table-body>tr>td {
    border-bottom: 1px solid #e8e8e8;
    -webkit-transition: all .3s,border 0s;
    transition: all .3s,border 0s;
}
.markdown-body table tr:nth-child(2n) {
    background-color:transparent;
}
.markdown-body .ant-table-head>tr>th:hover {
    background-color: #f2f2f2;
}
.markdown-body .ant-table-body>tr:hover {
    background: #e6f7ff;
}
.ant-table-head th {
    position: relative;
}
.ant-table-head th .icon-sortdesc,.ant-table-head th .icon-sort-up {
    color:#bfbfbf;
    position: absolute;
    margin-left: 5px;
}
.ant-table-head th.SortDescCss .icon-sortdesc, .ant-table-head th.SortAscCss .icon-sort-up{
    color:#1890ff;
}

/* commodity start */
.item-wrap {
    width:100%;
    text-align: center;
}
.item-wrap .item {
    display: inline-block;
    width:180px;
    height:320px;
    margin-right: 20px;
}
.item-wrap .item .pic {
    width: 180px;
    height:180px;
}
.item-wrap .item .ctx {
    display: block;
    font-size: 12px;
}
.item-wrap .item .ctx .title {
    text-align: left;
}
.item-wrap .item .ctx .shop {
    color:#888;
    text-align:left
}
.item-wrap .item .ctx .shop>span:nth-child(1) {
    float: left;
}
.item-wrap .item .ctx .shop>span:nth-child(2) {
    float: right;
}
.item-wrap .item .ctx .price {
    display: block;
    margin-top:11px;
    height:22px;
    line-height: 22px;
    overflow: hidden;
}
.item-wrap .item .ctx .price .g-price-highlight {
    float:left;
    font-size: 18px;
    line-height: 22px;
} 
.item-wrap .item .ctx .price .g-price-highlight>span:nth-child(1) {
    float: left;
}
.H {
    color:#F40;
}  
.item-wrap .item .ctx .deal-cnt {
    float: right;
    color:#888;
}
.item-wrap .item .ctx .posttage {
    background-color: #F40;
    color:#fff;
    font-size: 12px;
}
.item-wrap .item .ctx .feature {
    font-size: 12px;
}
.item-wrap .item .ctx .feature .hot {
    background-color: #F40;
    color:#fff;
    margin-left: 3px;
}
.item-wrap .item .ctx .feature>span:nth-child(1) {
    float: left;
}
.item-wrap .item .ctx .feature>span:nth-child(2) {
    float: right;
}
.clearfix {
    zoom:1
}
.clearfix:after{
    content:".";        
    display:block;        
    height:0;        
    clear:both;        
    visibility:hidden;        

}
/* commodity end */
