<div id="<%= id %>" class="img-wrap-bd">
  <div class="img-wrap">
    <% for(var i = 0; i < items.length; ++i) { %>
    <div class="item">
      <div
        class="pic"
        style="background-image: url('<%= items[i].img %>');"
      ></div>
      <div class="ctx">
        <div class="title">
          <div>
            <span><%= items[i].title %></span>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
