<div id={{id}}>
    <div class="item-wrap">
        <div class="item">
            <div class="pic">                
            </div>
            <div class="ctx">
                <div class="price clearfix">
                    <div class="g-price-highlight">
                        <span>￥</span>
                        <strong>399.00</strong>
                    </div>
                    <div class="deal-cnt">
                        299人付款
                    </div>
                </div>
                <div class="title">
                    <div>
                        <span class="posttage">包邮</span>
                         <span>耐克Nike-AJ羽绒服 加厚防水男篮保暖运动羽绒服</span>
                    </div>
                </div>
                <div style="color:#888;text-align:left">
                    <span class="iconfont icon-menu"></span>
                    <span>加州途锐运动专营店</span>
                </div>
                <div class="feature">
                    <span class="iconfont icon-tianmao"><span class="hot">新</span></span>
                    <span class="iconfont icon-wangwang"></span>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="pic">                
            </div>
            <div class="ctx">
                <div class="price clearfix">
                    <div class="g-price-highlight">
                        <span>￥</span>
                        <strong>399.00</strong>
                    </div>
                    <div class="deal-cnt">
                        299人付款
                    </div>
                </div>
                <div class="title">
                    <div>
                        <span class="posttage">包邮</span>
                         <span>耐克Nike-AJ羽绒服 加厚防水男篮保暖运动羽绒服</span>
                    </div>
                </div>
                <div style="color:#888;text-align:left">
                    <span class="iconfont icon-menu"></span>
                    <span>加州途锐运动专营店</span>
                </div>
                <div class="feature">
                    <span class="iconfont icon-tianmao"><span class="hot">新</span></span>
                    <span class="iconfont icon-wangwang"></span>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="pic">                
            </div>
            <div class="ctx">
                <div class="price clearfix">
                    <div class="g-price-highlight">
                        <span>￥</span>
                        <strong>399.00</strong>
                    </div>
                    <div class="deal-cnt">
                        299人付款
                    </div>
                </div>
                <div class="title">
                    <div>
                        <span class="posttage">包邮</span>
                         <span>耐克Nike-AJ羽绒服 加厚防水男篮保暖运动羽绒服</span>
                    </div>
                </div>
                <div style="color:#888;text-align:left">
                    <span class="iconfont icon-menu"></span>
                    <span>加州途锐运动专营店</span>
                </div>
                <div class="feature">
                    <span class="iconfont icon-tianmao"><span class="hot">新</span></span>
                    <span class="iconfont icon-wangwang"></span>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="pic">                
            </div>
            <div class="ctx">
                <div class="price clearfix">
                    <div class="g-price-highlight">
                        <span>￥</span>
                        <strong>399.00</strong>
                    </div>
                    <div class="deal-cnt">
                        299人付款
                    </div>
                </div>
                <div class="title">
                    <div>
                        <span class="posttage">包邮</span>
                         <span>耐克Nike-AJ羽绒服 加厚防水男篮保暖运动羽绒服</span>
                    </div>
                </div>
                <div class="shop">
                    <span class="iconfont icon-menu"></span>
                    <span>加州途锐运动专营店</span>
                </div>
                <div class="feature">
                    <span class="iconfont icon-tianmao"><span class="hot">新</span></span>
                    <span class="iconfont icon-wangwang"></span>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="pic">                
            </div>
            <div class="ctx">
                <div class="price clearfix">
                    <div class="g-price-highlight">
                        <span>￥</span>
                        <strong>399.00</strong>
                    </div>
                    <div class="deal-cnt">
                        299人付款
                    </div>
                </div>
                <div class="title">
                    <div>
                        <span class="posttage">包邮</span>
                         <span>耐克Nike-AJ羽绒服 加厚防水男篮保暖运动羽绒服</span>
                    </div>
                </div>
                <div style="color:#888;text-align:left">
                    <span class="iconfont icon-menu"></span>
                    <span>加州途锐运动专营店</span>
                </div>
                <div class="feature">
                    <span class="iconfont icon-tianmao"><span class="hot">新</span></span>
                    <span class="iconfont icon-wangwang"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>