<div id={{id}}>
    <div class="item-wrap">
        <div class="item">
            <div class="pic">                
            </div>
            <div class="ctx">
                <div class="price clearfix">
                    <div class="g-price-highlight">
                        <span class="H">￥</span>
                        <strong class="H">399.00</strong>
                        <span class="posttage">包邮</span>
                    </div>
                    <div class="deal-cnt">
                        299人付款
                    </div>
                </div>
                <div class="title">
                    <div>                       
                         <span>SELECTED斯莱德男士抽绳连帽保暖中长款<span style="color:red">羽绒服</span>外套S|419412559</span>
                    </div>
                </div>
               <div class="shop clearfix">
                    <span>
                        <span class="iconfont icon-menu"></span>
                        <span>加州途锐运动专营店</span>
                    </span>
                    <span>
                        上海
                    </span>
                </div>
                <div class="feature">
                    <span class="iconfont icon-tianmao"><span class="hot">新</span></span>
                    <span class="iconfont icon-wangwang"></span>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="pic">                
            </div>
            <div class="ctx">
                <div class="price clearfix">
                    <div class="g-price-highlight">
                        <span class="H">￥</span>
                        <strong class="H">399.00</strong>
                        <span class="posttage">包邮</span>
                    </div>
                    <div class="deal-cnt">
                        299人付款
                    </div>
                </div>
                <div class="title">
                    <div>
                         <span>SELECTED斯莱德男士抽绳连帽保暖中长款<span style="color:red">羽绒服</span>外套S|419412559</span>
                    </div>
                </div>
                <div class="shop clearfix">
                    <span>
                        <span class="iconfont icon-menu"></span>
                        <span>加州途锐运动专营店</span>
                    </span>
                    <span>
                        上海
                    </span>
                </div>
                <div class="feature">
                    <span class="iconfont icon-tianmao"><span class="hot">新</span></span>
                    <span class="iconfont icon-wangwang"></span>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="pic">                
            </div>
            <div class="ctx">
                <div class="price clearfix">
                    <div class="g-price-highlight">
                        <span class="H">￥</span>
                        <strong class="H">399.00</strong>
                        <span class="posttage">包邮</span>
                    </div>
                    <div class="deal-cnt">
                        299人付款
                    </div>
                </div>
                <div class="title">
                    <div>
                         <span>SELECTED斯莱德男士抽绳连帽保暖中长款<span style="color:red">羽绒服</span>外套S|419412559</span>
                    </div>
                </div>
                <div class="shop clearfix">
                    <span>
                        <span class="iconfont icon-menu"></span>
                        <span>加州途锐运动专营店</span>
                    </span>
                    <span>
                        上海
                    </span>
                </div>
                <div class="feature">
                    <span class="iconfont icon-tianmao"><span class="hot">新</span></span>
                    <span class="iconfont icon-wangwang"></span>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="pic">                
            </div>
            <div class="ctx">
                <div class="price clearfix">
                    <div class="g-price-highlight">
                        <span class="H">￥</span>
                        <strong class="H">399.00</strong>
                        <span class="posttage">包邮</span>
                    </div>
                    <div class="deal-cnt">
                        299人付款
                    </div>
                </div>
                <div class="title">
                    <div>
                         <span>SELECTED斯莱德男士抽绳连帽保暖中长款<span style="color:red">羽绒服</span>外套S|419412559</span>
                    </div>
                </div>
                <div class="shop clearfix">
                    <span>
                        <span class="iconfont icon-menu"></span>
                        <span>加州途锐运动专营店</span>
                    </span>
                    <span>
                        上海
                    </span>
                </div>
                <div class="feature">
                    <span class="iconfont icon-tianmao"><span class="hot">新</span></span>
                    <span class="iconfont icon-wangwang"></span>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="pic">                
            </div>
            <div class="ctx">
                <div class="price clearfix">
                    <div class="g-price-highlight">
                        <span class="H">￥</span>
                        <strong class="H">399.00</strong>
                        <span class="posttage">包邮</span>
                    </div>
                    <div class="deal-cnt">
                        299人付款
                    </div>
                </div>
                <div class="title">
                    <div>
                         <span>SELECTED斯莱德男士抽绳连帽保暖中长款<span style="color:red">羽绒服</span>外套S|419412559</span>
                    </div>
                </div>
                <div class="shop clearfix">
                    <span>
                        <span class="iconfont icon-menu"></span>
                        <span>加州途锐运动专营店</span>
                    </span>
                    <span>
                        上海
                    </span>
                </div>
                <div class="feature">
                    <span class="iconfont icon-tianmao"><span class="hot">新</span></span>
                    <span class="iconfont icon-wangwang"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>